@import "tailwindcss";

/* Custom Animations */
@layer components {
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .scroll-content {
    @apply flex flex-col;
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .pause-scroll:hover {
    animation-play-state: paused;
  }
}


